@model cmsyasix.Core.DTOs.ShowFoodListViewModel
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
        <article>
            <a href="/ShowFood/@Model.FoodId" class="img-layer"><img style="height:150px" src="/food/thumb/@Model.ImageName"></a>
            <h2><a href="/ShowFood/@Model.FoodId"> @Model.Title </a></h2>
            <span> @Model.Price.ToString("#,0") </span>
        </article>
    </div>